{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<h1>{% block title %}Discos{% endblock %}</h1>
{% endblock %} {% block content %} {% for Cancion in canciones %}
<article class="canciones">
  <header>
    <div class="about">
      <h2>Disco: {{Cancion['Disco']}}</h2>
      <div>Cancion: {{Cancion['Canciones'] }}</div>
      <div>Artista: {{Cancion['Artista']}}</div>
    </div>
    {% endfor %}{% endblock %}
  </header>
</article>
