{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<h1>{% block title %}Discos{% endblock %}</h1>
{% endblock %} {% block content %} {% for Cancion in canciones %}
<article class="canciones">
  <header>
    <div class="about">
      <h2>Disco:
        <a href=""> {{Cancion['Disco']}}</a>
      </h2>
      <div>Artista: {{Cancion['Artista']}}</div>
      <div>Duracion: {{Cancion['Duracion'] }}</div>
    </div>
    {% endfor %}{% endblock %}
  </header>
</article>
