{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<h1>{% block title %}Canciones{% endblock %}</h1>
{% endblock %} {% block content %} {% for Cancion in canciones %}
<article class="canciones">
  <header>
    <div class="about">
      <h2>
        Cancion:
        <a href="{{url_for('track.detalle', id=Cancion['trackId']) }}"
          >{{Cancion['Canciones'] }}</a
        >
      </h2>
      <div>Artista: {{Cancion['Artista']}}</div>
    </div>
    {% endfor %}{% endblock %}
  </header>
</article>
