{% extends 'base.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% block header %}
<h1>{% block title %}Artistas{% endblock %}</h1>
{% endblock %} {% block content %} {% for Cancion in canciones %}
<article class="canciones">
  <header>
    <div class="about">
      <h2>Artista: 
        <a href="{{url_for('artist.detalle', id=Cancion['artistId'])}}">{{Cancion['Artista']}}</a>
      </h2>
      <div>Discos: {{Cancion['Disco']}}</div>
      <div></div>
    </div>
    {% endfor %}{% endblock %}
  </header>
</article>
